{% extends 'base.html' %}
{% block title %}Paul Haeussler{% endblock %}
{% block content %}
<div id="container">
    <div class="tile" onclick="window.open('https://www.instagram.com/p_haeussler/', '_blank').focus();">
        <canvas id="instagram" class="glcanvas">Instagram</canvas>
    </div>
    <div class="tile" onclick="window.open('https://www.linkedin.com/in/paul-h%C3%A4ussler-971b49213/', '_blank').focus();">
        <canvas id="linkedin" class="glcanvas">LinkedIn</canvas>
    </div>
    <div class="tile" onclick="window.open('https://github.com/PaulHaeussler', '_blank').focus();">
        <canvas id="github" class="glcanvas">GitHub</canvas>
    </div>
    <div class="tile" onclick="window.open('https://steamcommunity.com/id/xXxDarkVikingxXx', '_blank').focus();">
        <canvas id="steam" class="glcanvas">Steam</canvas>
    </div>
</div>
{% endblock %}