{% extends 'base.html' %}
{% block title %}Paul Haeussler{% endblock %}
{% block content %}
<div id="container">
    <div class="tile">
        <canvas id="instagram" class="glcanvas" onclick="https://www.instagram.com/p_haeussler/">Instagram</canvas>
    </div>
    <div class="tile">
        <canvas id="linkedin" class="glcanvas" onclick="https://www.linkedin.com/in/paul-h%C3%A4ussler-971b49213/">LinkedIn</canvas>
    </div>
    <div class="tile">
        <canvas id="github" class="glcanvas" onclick="https://github.com/PaulHaeussler">GitHub</canvas>
    </div>
    <div class="tile">
        <canvas id="steam" class="glcanvas" onclick="https://steamcommunity.com/id/xXxDarkVikingxXx">Steam</canvas>
    </div>
</div>
{% endblock %}